<!-- Doing POST request to current view. -->

{% for person in object_list %}
<form method="post">
    {% csrf_token %}
    <label for="fname">Person name:{{ person.person_name }}</label>
    <input type="hidden" name="id" value={{ person.id }}>
    <input type="submit" value="Submit">
</form>
{% endfor %}

<!-- This is for pagination -->

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
