<form method="post">
    {% csrf_token %}
    <label for="fname">Patient name:{{ person.person_name }}</label>
    <input type="hidden" name="id" value={{ person.id }}>
    <input type="submit" value="Edit">
</form>
